<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--导入目标类-->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverMangerDataSource"></bean>
    <bean id="myTransaction" class="com.example.demo.MyTransaction"></bean>
    <aop:config>
        <aop:pointcut expression="execution(* com.example.demo.*.*(..))" id="perform"/>
        <aop:aspect ref="myTransaction">
            <aop:before method="beginTransction" pointcut-ref="perform"/>
        </aop:aspect>
        <aop:aspect ref="myTransaction">
            <aop:after method="commit" pointcut-ref="perform"/>
        </aop:aspect>
    </aop:config>


</beans>